  body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
  
  /* Title Image */
  .title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
  }

  .heading {
    padding-bottom: 150px;
  }
 
  .container-fluid {
    padding: 3% 15%;
  }

  /* Sections  */

  .colored-section {
    background-color: #ff4c68;
    color: whitesmoke;
  }

  .white-section {
    background-color: #fff;
  }

  /* Main Heading */
  .main-heading {
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
    line-height: 1.5;
  }

  /* Headings and Text */

  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    padding-top: 5%;
  }
  
  p {
    color: #8f8f8f;
  }

  /* Navigation Bar */

  .navbar {
    padding: 0 0 4.5rem;
  }

  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
  }

  .nav-item {
    padding: 0 18px;
  }

  .nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
  }

  /* Download Buttons */

  .download-button {
    margin: 5% 3% 5% 0;
  }

  /* Testimonials Section */

  .testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
  }

  #testimonials {
    background-color: #ef8172;
  }

  #press {
    padding-bottom: 3%;
    background-color: #ef8172;
  }

  .press-logo {
    width: 15%;
    margin: 20px;
  }

  .carousel-item {
    padding: 7% 15%;
  }
  
  /* Icons */

  .icon {
    color: #ef8172;
   }

   .icon:hover {
     color: #ff4c68;
   }
  
  /* Features section */

  #features {
    position: relative;
    z-index: 1;
  }

  .feature-box {
    padding: 5%;
  }

  /* Pricing Section */

  #pricing {
    padding: 100px;
  }

  .pricing-column {
    padding: 3% 5%;
  }

  /* Media Queries */

  @media (max-width: 1028px) {

    #title {
      text-align: center;
    }

    .title-image {
      position: static;
      transform: rotate(0);
    }
  }

  /* Call to action */

  #cta {
    padding-top: 0;
    line-height: 1.5;
  }

  /* Footer */

  .social-icon {
    margin: 20px 10px;
  }